# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=suan
DB_PASSWORD=
DB_NAME_SOURCE=compass_cases_details
DB_NAME_TARGET=compass_analytics_preprocessed

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyCoFTfqOUr9K8Lg4v-mSR_Ou63YqQyv-r0

# Application Configuration
DEBUG=True
LOG_LEVEL=INFO